<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image" />

  <div class="row">
    <div class="col-md-11">
      <h2>{{ event?.name | uppercase }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{ event?.date | date: "dd/MM/yyyy" }}</div>
      <div><strong>Time:</strong> {{ event?.time }}</div>
      <div><strong>Price:</strong> {{ event?.price | currency: "GBP" }}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{ event?.location?.address }}<br />
        {{ event?.location?.city }}, {{ event?.location?.country }}
      </address>
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-2">
      <h3 style="margin: 0">Sessions</h3>
    </div>
    <div class="col-md-7">
      <!-- SORT BUTTONS -->
      <div
        class="btn-group btn-group-sm"
        style="margin-right: 20px; margin-left: 20px"
      >
        <button
          (click)="sortBy = 'name'"
          class="btn btn-default"
          [class.active]="sortBy === 'name'"
        >
          Name
        </button>
        <button
          (click)="sortBy = 'votes'"
          class="btn btn-default"
          [class.active]="sortBy === 'votes'"
        >
          Most Voted
        </button>
      </div>

      <!-- FILTER BUTTONS -->
      <div class="btn-group btn-group-sm">
        <button
          (click)="filterBy = 'all'"
          class="btn btn-default"
          [class.active]="filterBy === 'all'"
        >
          All
        </button>
        <button
          (click)="filterBy = 'beginner'"
          class="btn btn-default"
          [class.active]="filterBy === 'beginner'"
        >
          Beginner
        </button>
        <button
          (click)="filterBy = 'intermediate'"
          class="btn btn-default"
          [class.active]="filterBy === 'intermediate'"
        >
          Intermediate
        </button>
        <button
          (click)="filterBy = 'advanced'"
          class="btn btn-default"
          [class.active]="filterBy === 'advanced'"
        >
          Advanced
        </button>
      </div>
    </div>
    <div class="col-md-2">
      <a (click)="addSession()">Add Session</a>
    </div>
  </div>

  <!-- Show session-list component, pass in event sessions array & filterBy/sortBy option -->
  <app-session-list
    *ngIf="!addMode"
    [sessions]="event?.sessions"
    [filterBy]="filterBy"
    [sortBy]="sortBy"
  ></app-session-list>

  <!-- saveNewSession is outputted from create-session component - when event emitted, call saveNewSession function on event-details.ts, pass in new session object -->
  <app-create-session
    *ngIf="addMode"
    (saveNewSession)="saveNewSession($event)"
    (cancelAddSession)="cancelAddSession()"
  ></app-create-session>
</div>
